.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.table thead th {
  text-align: left;
  padding: 0.5rem;
}

:global(.light) .table thead th {
  border-bottom: 1px solid var(--color-gray-300);
}

:global(.dark) .table thead th {
  border-bottom: 1px solid var(--color-gray-700);
}

.table tbody td {
  padding: 0.5rem;
}

:global(.light) .table tbody td {
  border-bottom: 1px solid var(--color-gray-300);
}

:global(.dark) .table tbody td {
  border-bottom: 1px solid var(--color-gray-700);
}
